
{% extends 'base.html.twig' %}

{% block title %}404{% endblock %}

{% block body %}
    <style>
        body {
            background-color: #d8baf5;
            color: #FF69B4;;
            font-family: Arial, sans-serif;
            text-align: center;
            
        }
    </style>

    <h1 style="padding-top: 200px; text-align: center;">Oops, la page que vous recherchez est introuvable.</h1>
    <p>Veuillez vérifier l'URL que vous avez saisie ou <a href="/">revenir à la page d'accueil</a>.</p>
    <h1 style="padding-bottom: 350px; text-align: center;"></h1>

{% endblock %}